.add_chord__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(78, 78, 78, 0.78);
  display: flex;
}

.add_chord__modal {
  outline: none;
  /* padding: 25px; */
  border-radius: 2rem;
  background: grey;
  display: flex;
  margin: auto;
  height: 50%;
  width: 35%;
  overflow: hidden;
  min-width: fit-content;
}

.add-chord-form {
  margin: auto;
  display: flex;
  flex-direction: column;

}

.add-chord-form input {
  background: white;
  border-radius: 15px;
  border: none;
  outline: none;
}

.add-chord-form label {
  margin: 0 1rem;
}

.add-chord-error {
  color: red;
  margin-left: 1rem;
  font-size: small;
}

.add-chord-input {
  display: flex;
  flex-direction: row;
  padding: 0.1rem;
  margin: auto;
}
