.card {
    background: grey;
    width: fit-content;
    height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    margin: 0.5em;
    border-radius: 13px;
    overflow: hidden;
    text-align: center;
}