.search-chords__container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.search-chords__searchbar {
  display: flex;
  flex-direction: row;
  margin: auto;
  /* width: 80%; */
}

.btn-darkmode {
  width: 5rem;
  fill: var(--secondary);
  background-color: transparent;
  margin-top:5rem;
}
