.search-form {
  min-width: 40%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0.25;
}

.search-form input {
  background: grey;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: xx-large;
  color: white;
  margin: 1.3rem;
  padding: 0.5rem;
}

.search-form input:hover {
  cursor: pointer;
}

.search-form__searchbtn {
  margin-left: -4rem;
}

.add-chord__btn {
  margin-left: 2rem;
}
