.search-form {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-tools input {
  background: var(--secondary);
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: xx-large;
  color: var(--main);
  padding: 0.5rem;
  margin: auto;
}

.search-tools {
  margin: auto;
  display: flex;
}

.search-form input:hover {
  cursor: pointer;
}

.search-form__searchbtn {
  position: relative;
  right:10%;
  fill: var(--main);
  background-color: red;
}

.search-form label {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.search-form Button {
  background: transparent;
  width: 2rem;
}

.search-form svg {
  width: 1.3rem;
}

.search-form Button:hover {
  cursor: pointer;
}
