.search-form {
  min-width: 40%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-tools input {
  background: var(--secondary);
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: xx-large;
  color: var(--main);
  margin: auto;
  padding: 0.5rem;
  width: 100%;
  min-width: 10rem;
}

.search-tools {
  margin: auto;
  display: flex;
  min-width: fit-content;
  width: 20rem;
}

.search-form input:hover {
  cursor: pointer;
}

.search-form__searchbtn {
  margin-left: -3rem;
  fill: var(--main)
}

.add-chord__btn {
  margin-left: 2rem;
  fill: var(--secondary)
}

.search-form label {
  margin: auto;
}

.search-tools Button {
  background: transparent;
  width: 2rem;
}

.search-tools Button:hover {
  cursor: pointer;
}
