@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
}

body {
  margin: 0 auto;
  background-color: #3f3f3f;
  color: white;
}