.submit {
    color: var(--main);
    background-color: var(--secondary);
    border-radius: 5rem;
    padding: 3%;
    width: 40%;
    margin: auto;
}

.button-template {
    text-decoration: none;
    border: none;
    outline: none;
}

.button-template:hover {
    cursor: pointer;
}
